.arrayBar {
  background-color: #4eccbf;
}
.arraySizeSlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.barContainer {
  width: 95%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-content: center;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.btnsWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.contentContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.sliderBtnsWrapper {
  width: 60%;
}
.speedLabelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.speedSlider {
  height: 95%;
  display: flex;
}
/** Desktop Styles **/
@media only screen and (min-width: 961px) {
  .mainBtn {
    width: 30%;
    height: 60px;
  }
}
/** Tablet Styles **/
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .btnHeading {
    font-size: 0.8em;
  }
  .mainBtn {
    width: 40%;
    height: 50px;
  }
}
/** Mobile Styles **/
@media only screen and (max-width: 599px) {
  .btnHeading {
    font-size: 0.6em;
  }
  .contentContainer {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
  }
  .mainBtn {
    width: 45%;
    height: 40px;
  }
  .slider {
    margin-top: 5%;
  }
  .speedSlider {
    height: 90%;
    display: flex;
  }
}
