.tab {
  max-width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.tabsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/** Desktop Styles **/
@media only screen and (min-width: 961px) {
}
/** Tablet Styles **/
@media only screen and (min-width: 600px) and (max-width: 960px) {
}
/** Mobile Styles **/
@media only screen and (max-width: 599px) {
  .tab {
    display: None;
  }
}
