.tab {
  max-width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.tabsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/** Hide description tabs on mobile. **/
@media only screen and (max-width: 599px) {
  .tab {
    display: None;
  }
}
